<div class="container">
    
  
      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th >Price</th>
            <th >Category</th>
            <th >Date</th>
          </tr>
        </thead>
        <tbody>
          @for (product of products; track $index) {
          <tr
           >
            <th>
              {{ product.name}}
            </th>
            <td class="px-6 py-4">
              {{ product.price }}
            </td>
            <td class="px-6 py-4">
              {{ product.category }}
            </td>
            <td class="px-6 py-4">
              {{ product.date }}
            </td>
          </tr>
          } @empty {
          <tr class="text-center">
            <td colspan="5" class="py-4">No products available</td>
          </tr>
          }
        </tbody>
      </table>
    </div>
  
